<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>EventSonic.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2E2179301C053F12009A4A8F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2E21794C1C053F12009A4A8F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2E2179571C053F12009A4A8F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
